html,
body{
  margin: 0;
  padding: 0;
}
.Container{
  position: relative;

  width: 100%;
  height: 100vh;
}



.Counter{
  display: inline-flex;

  justify-content: space-between;
  align-items: center;
}

.Value{
  padding: 1em;

  font-size: 18px;
}

.CartContent{
  display: flex;
  padding: 10px;
  width: 400px;
  border: 1px solid #d3d3d3;

  background: #fff;

  flex-direction: column;
}